.login_page {
  display: flex;
  height: 100svh;
}

.left_column {
  width: 50%;
  background-color: var(--primaryColor1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_column div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.left_column h1 {
  font-family: "Passero One";
  font-size: 96px;
  color: white;
}
.left_column span {
  font-size: 24px;
  color: white;
}
.right_column {
  width: 50%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginform {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 30px;
}
.loginform input {
  height: 50px;
  border-radius: 5px;
  outline: none;
  padding: 0 30px;
  border: 1px solid #dbdbdb;
}
.loginform input:not([type="submit"]):focus {
  outline: var(--FocusedInput);
}
.loginform input[type="submit"] {
  background-color: var(--primaryColor2);
  height: 55px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.registerform {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 15px;
}
.registerform input {
  height: 50px;
  border-radius: 5px;
  outline: none;
  padding: 0 30px;
  margin-bottom: -5px;

  border: 1px solid #dbdbdb;
}
.registerform input:not([type="submit"]):focus {
  outline: var(--FocusedInput);
}
.registerform input[type="submit"] {
  background-color: var(--primaryColor2);
  height: 55px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.formgroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.formgroup input {
  width: 180px;
}
.formgroup button {
  width: 180px;
  height: 55px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--primaryColor1);
}
.formgroup span {
  cursor: pointer;
  font-size: 14px;
}
.error {
  height: 0px;
  font-size: 10px;
  color: red;
  /* margin-top: -10px; */
}
